@page
@model ActiveUsersModel

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Add Bootstrap CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/Admin/adminActive.css" />

<div class="container">
    <h2>Inactive Users</h2>
    <form method="get" class="search-form">
        <div class="input-group search-bar">
            <input type="text" class="form-control" name="CurrentFilter" placeholder="Search by Email" value="@Model.SearchString">
            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-secondary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Full Name</th>
                    <th>Roles</th>
                    <th>Last Logged In</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.InactiveUsers)
                {
                    <tr>
                        <td>@user.Email</td>
                        <td>@(string.IsNullOrWhiteSpace(user.FirstName) && string.IsNullOrWhiteSpace(user.LastName) ? "N/A" : $"{user.FirstName} {user.LastName}")</td>
                        <td>
                            @foreach (var role in user.Roles)
                            {
                                <span>@role</span>
                                <br />
                            }
                        </td>
                        <td>
                            @if (user.LastLoginDate.HasValue)
                            {
                                @user.LastLoginDate.Value.ToString("yyyy-MM-dd HH:mm:ss")
                            }
                            else
                            {
                                <p class="never">Never Logged In</p>
                            }
                        </td>
                        <td>
                            <a asp-page="Edit" asp-route-id="@user.Id" title="Edit">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a asp-page="Delete" asp-route-id="@user.Id" title="Delete">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
