@page
@model IndexModel

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="~/css/Admin/userManagement.css" />

<div style="padding-left: 20px; padding-bottom:15px;">
    <h2 style="margin-left:15px;">User Management</h2>

    <div class="header-controls">
        <form method="get" class="search-form">
            <div class="input-group search-bar">
                <input type="text" class="form-control" name="CurrentFilter" placeholder="Search by Email" value="@Model.CurrentFilter">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <div class="btn-users">
        <a class="btn-add-user" asp-area="Identity" asp-page="ActiveUsers">
            Inactive Users
        </a>
        <!--<a class="btn-add-user" asp-area="Identity" asp-page="DisabledUsers">
            Disabled Users
        </a>-->
        <a class="btn-add-user" asp-area="Identity" asp-page="/AdminUserCreation">
            <i class="fas fa-plus-circle"></i> Add User
        </a>
        </div>
    </div>
</div>

<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Full Name</th>
                <th>Roles</th>
                <th>Last Logged In</th>
                <th>Activity Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>@(string.IsNullOrWhiteSpace(user.FirstName) && string.IsNullOrWhiteSpace(user.LastName) ? "N/A" : $"{user.FirstName} {user.LastName}")</td>
                    <td>
                        @foreach (var role in user.Roles)
                        {
                            <span>@role</span>
                            <br />
                        }
                    </td>
                    <td>
                        @if (user.LastLoginDate.HasValue)
                        {
                            @user.LastLoginDate.Value.ToString("yyyy-MM-dd HH:mm:ss")
                        }
                        else
                        {
                            <p>Never Logged In</p>
                        }
                    </td>
                    <td>
                        @if (user.ActiveStatus == "Active")
                        {
                            <span class="badge badge-success">Active</span>
                        }
                        else
                        {
                            <span class="badge badge-secondary">Inactive</span>
                        }
                    </td>
                    <td>
                        <div class="btn-actions">
                        @if (!user.Roles.Contains("Admin"))
                        {
                            <a asp-page="Edit" asp-route-id="@user.Id"><i class="fas fa-edit"></i></a>
                            <a asp-page="Delete" asp-route-id="@user.Id"><i class="fas fa-trash-alt"></i></a>
                        }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
}
